@font-face{
	font-family:'Berlin Sans FB';
    src: url('/fonts/BRLNSR.ttf');
}
@font-face{
	font-family:'Sonsie One';
    src: url('/fonts/SonsieOne-Regular.ttf');
}
.serach-box{
	-fx-border-radius:15%;
	-fx-background-color:white;
	-fx-effect: dropshadow(three-pass-box, rgb(128,128,128,0.8), 10, 0, 0, 0);
}

.berlin-font{
	-fx-font-family:'Berlin Sans FB';
	-fx-font-size:24px;
}
.transparent{
}
.information-snippet{
	-fx-background-color:	radial-gradient(center 10% 10% , radius 220px , #ebebeb , ghostwhite );
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 8, 0, 0, 0);
}
.box-shadow{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 7, 0, 0, 2);
}
.information-snippet-heading{
	-fx-font-family:'Berlin Sans FB';
	-fx-font-size:20px;
}
.information-items{
	-fx-font-size:16px;
}
.food-background{
	-fx-background-image: url('../assets/food_background-2.jpg');
	-fx-background-repeat: repeat; 
	-fx-background-size: 50% 200%; 
	-fx-background-position: left center;
	-fx-background-color:transparent;
}
.white-background{
	-fx-background-color:white;
}
